<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
<div id="login-example">
    <user-login></user-login>
</div>
<!--テンプレート-->
<template id="login-template">
    <div>
        <div>
            <input type="text" placeholder="ログインID" v-model="userid">
        </div>
        <div>
            <input type="password" placeholder="パスワード" v-model="password">
        </div>
        <button @click="login">ログイン</button>
    </div>
</template>
<script src="../.././vue.js"></script>
<script src="./login.js"></script>
</body>
</html>